<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
  </head>
  <body>
    <form action="/register" method="post">
      <!-- <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Register"> -->
      <label for="firstname">First Name:</label><br />
      <input type="text" id="firstname" name="firstname" required /><br />
      <label for="lastname">Last Name:</label><br />
      <input type="text" id="lastname" name="lastname" required /><br />
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" required /><br />
      <label for="contact">Contact Number:</label><br />
      <input type="tel" id="contact" name="contact" required /><br />
      <label for="state">State:</label><br />
      <input type="text" id="state" name="state" required /><br />
      <label for="city">City:</label><br />
      <input type="text" id="city" name="city" required /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" required /><br />
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
